<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <div class="container">
        
        <% if(locals.productoAgregado) {%>
            <div class="alert alert-success mt-4" role="alert">
                Producto agregado con éxito
            </div>
        <% } %>

        <%- include('./partials/formulario', {productos: typeof productos}) %>
    </div>
</body>
</html>